@import"../css/parciales/serie";
@import"../css/parciales/peliculas";
@import"../css/parciales/resert";
@import"../css/parciales/foot"; 


/*telefonos*/
@media screen and (max-width: 480px) {

    body{
      background-color: aqua;
    }
    .flexbox{
      flex-direction: column;
    }
    #pelicula article div,
    #serie article div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #pelicula article div .title,
    #serie article div .title {
      display: none;
    } 
  
  
  
  
    
    .grip_container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:auto ;
      grid-template-areas: "header"
      " section"
      "serie"
      "pelicula"
      "footer";    
    }
    
    .li_genero{
      display: block;
      padding: 20px;
      margin: 20px 20px;
      background-color: rgb(20, 123, 184);
      position: inherit;
    }
    
    .checkbtn{
      display: block;
      
    }
    
    .fixed{
      position: fixed;
      width: 100%;
      height: 30vh;
      background: grey;
      top:80px;
      left:-100%;
      text-align: center;
      
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    
    #check:checked ~ ul{
      left: 0;
    }
    
  
    
    .logo{
      width: 150px;
    }
    .piedePagina{
      width: 200px;
    }
  }
  
  /*tabletas*/
  
  @media screen and (min-width: 480px) {
  
    body{
      background-color: blueviolet;
    }
    .flexbox{
      flex-wrap: wrap;
    }
  
  
  
  
    
    .grip_container{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows:auto 1fr auto ;
      grid-template-areas: "header"
                          " section"
                            "serie"
                            "pelicula"
                            "footer";    
  }
    
  
  }
  
