
/*telefonos*/
@media screen and (max-width: 480px) {
  .peliculas_contenido {
    display: grid;
    width: 100%;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    justify-content: center;
  }

  .serie_contenido {
    display: grid;
    width: 100%;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    justify-content: center;
  }

  body {
    background-color: #d62828;
  }

  .peliculas article div .peliculas_title,
  .serie article div .serie_title,
  style{
    display: none;
  }


  .grip_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
      " section"
      "peliculas"
      "serie"
      "footer";
  }

  .li_genero {
    display: block;
    padding: 20px;
    margin: 20px 20px;
    background-color: #0d6efd;
    position: inherit;
  }

  .serie_centrado {
    display: flex;
    justify-content: center;
  }

  .peliculas_centrado {
    @extend .serie_centrado
  }

  .logo {
    width: 150px;
  }

  .redesSociales {
    width: 50px;
  }

}

/*tabletas*/

@media screen and (min-width: 480px) {

  body {
    background-color: #d62828;
  }

  .peliculas_contenido {
    display: grid;
    width: 100%;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    justify-content: center;
  }

  .serie_contenido {
    display: grid;
    width: 100%;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    justify-content: center;
  }


  .grip_container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
      " section"
      "peliculas"
      "serie"
      "footer";

  }
}