.grip_footer {
  grid-area: footer;

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: #daff7d;

    .piedePagina {
      width: 200px;
    }

    .redesSociales {
      padding-left: 20px;


    }

  }

}