
section#section {
    grid-area: section;
    
    .li_genero {
        display: block;
        padding: 20px;
        margin: 20px 20px;
        background-color: rgb(20, 123, 184);
        position: relative;
        left: 40 px;
        top: 40px;
        .ancho_genero {
            color: rgb(116, 11, 11);
          }
      }
  }


  