
section#section {
    grid-area: section;
    
    .li_genero {
        display: block;
        padding: 20px;
        margin: 20px 20px;
        background-color: #0d6efd;
        position: relative;
        left: 40 px;
        top: 40px;
        .ancho_genero {
            color: rgb(0, 0, 0);
          }
      }
  }


  