


 section#serie{
  grid-area: serie;

.title_serie{ 
  color: $blanco;
  font-size: 2.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight:400 ; 
  padding: 30px 20px;
  position: relative;
  display: inline-block;
}

.ancho_serie{   
 @include ancho_serie
 }

 .flexbox{
  display: flex;
  justify-content: space-around;
 
  .contenido{
  margin: 15px;
  width: 16rem; 
}

}


}
