
$blanco:#ffffff;
$ancho: 200px;
$margin:5px;


@mixin ancho_serie {
    margin: $margin;
    width: $ancho/2;
    float: left;
    
}

$estilos: (
  color: #3673D9,
  centro: center
);

 .peliculas_title{
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: 1rem;
  color: white;
}
  
.serie_title{
  @extend .peliculas_title;
}
  
ul{
  text-align: center;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}